{% for cat in category %}
	<li class="span2 drpdwnli"><a href="/filter/{{ cat.slug }}">{{ cat.name }}</a>
	{% if cat.__children %}
	<ul>
		{% for child in cat.__children %}
		<li><a href="/filter/{{ child.slug }}">{{ child.name }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	</li>
{% endfor %}