{% extends "::layout.html.twig" %}

{% block body %}

<ul>
{% for obj in category %}
{{ obj.name }}
	<ol>
	{% for sc in obj.children %}
    	<li>{{ sc.name }}</li>
    {% endfor %}
    </ol>
{% endfor %}
</ul>

{% endblock %}