{% extends "::layout.html.twig" %}

{% block body %}


<div class="row">
	<div class="span9">
		Vos annonces
	</div>
	
	<div class="row">
		<aside class="span3">
			<div>
				<ul>
					<li>Mon profil</li>
					<li>Déconnexion</li>
				</ul>
			</div>
			<div>
				Informations du comptes
			</div>
			
		</aside>
	</div>
</div>


{% endblock %}