{% extends "::layout.html.twig" %}

{% block body %}
<div class="row">
	<div class="span9">
		Annonces en attente de confirmations.
	</div>
	
	<aside class="span3">
		<ul>
			<li>Gérer les annonces</li>
			<li>Gérer les catégories</li>
			<li>Gérer les utilisateurs</li>
		</ul>
	</aside>
</div>
{% endblock %}