{% extends "::layout.html.twig" %}

{% block body %}
<div class="span9">
	Vos annonces
</div>

<aside class="span3 sidespan">
	<div class="row">
		<ul>
			<li>Mon profil</li>
			<li>Déconnexion</li>
		</ul>
	</div>
	<div class="row">
		Informations du comptes
	</div>
	
</aside>
{% endblock %}