header{
	color:white;
}

#header_top{
	background-color:#4F4F4F;
}

#header_top a{
	color:#6DBD9D;
	text-decoration:none;
}

#header_top p{
	text-align:right;
}

#header_main{
	background-color:#313131;
}

.content{
	min-height:300px;
}

.footer{
	height:80px;
	background-color:#4F4F4F;
}

.footer p{
	font-size:3em;
	color:white;
	text-align:center;
}

.span2.main{
	width:inherit;
	margin-top:5px;
}

.sep.divider-vertical{
	margin:0px;
	line-height:50px;
	height:50px;
}